* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: var(--tertiary-color);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;

}


:root {
    --primary-color: #5D3FD3;
    --secondary-color: #1CB96E;
    --tertiary-color: #2c87c4;
  }

header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 60px;
    background: lightgrey;
    color: black;
    /* position: -webkit-sticky; */
    position: sticky;
    top: 0;
 /* background-image: url("../images/portfolio_test.jpg"); */
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;  

}

header h1 {
    display: inline-block;
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
    /* text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
  }

  header a {
    text-decoration: none;
    color: var(--primary-color);
  }

  header nav {
    margin: 7px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
flex-direction: row;
list-style: none;
  }

  header nav ul {
    display: inline-block;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    overflow:hidden;
  }

  header nav li {
      display:inline-block;
  }

  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
  }

  /* hover counterpart to above style */
  header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
  }

 /*  
.header-nav {
    display: flex;
    flex-wrap: 0;
    flex: row;
    justify-content: flex-end;
    padding: 30px;
    background: #d35d3f;
    color: #fff;

}
*/



main {
    
    background-color: #1CB96E;

    text-align: center;
    text-shadow: 4px 4px 0 rgba(o, o, o, o.1);
}


main p {
    color: black;
    font-size: 20px;


}

  /* Hero styling */
.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    background-image: url("../images/hero.jpg");
 }

.hero:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }


  /* About Me styling */
.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

  /* Work styling */
.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;

}

.work big-child img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    flex: 0, 2, 200px;
  }



.work child img {
  flex: 0, 4, 50%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 30px;
  }
  
  img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }


/* 
.work::firstchild;
*/



  /* Contact Me styling */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    background: #39a6b2;
    border: 1px solid #ddd;
    border-radius: 4px;
    /*
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding: 60px;
    background: #39a6b2;
    color: black; */

}

.footer-nav {
    display: flex;
    flex-wrap: 0;
    justify-content: space-between;
    padding: 30px;
    background: #d35d3f;
    color: #fff;
    list-style: none;

}