* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: var(--tertiary-color);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;

}


:root {
    --primary-color: #5D3FD3;
    --secondary-color: lightgrey;
    --tertiary-color: #2c87c4;
  }

header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background: lightgrey;
    color: black;
    /* border-right: black; */
    position: sticky;
    top: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;  

}

header h1 {
    display: inline-block;
    font-weight: bold;
    font-size: 24px;
    color: var(--primary-color);
    margin: 0;
    
  }

  header a {
    text-decoration: none;
    color: var(--primary-color);
  }

  header nav {
    margin: 7px 0;
    display: flex;
    flex-wrap: 0;
    justify-content: flex-end;
    flex-direction: row;
    list-style: none;
  }

  header nav ul {
    display: inline-block;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    overflow:hidden;
  }

  header nav li {
      display:inline-block;
  }

  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    /* text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);  */
  }

  /* hover counterpart to above style */
  /* header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
  }
   */

 /*  
.header-nav {
    display: flex;
    flex-wrap: 0;
    flex: row;
    justify-content: flex-end;
    padding: 30px;
    background: #d35d3f;
    color: #fff;

}
*/



main {
   
  background-color: var(--secondary-color);
  text-align: center;
    
}


main p {
    color: black;
    font-size: 20px;


}

  /* Hero styling */
.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    background-image: url('./images/hero.jpeg');
    background-size: cover;
    background-position:center;
    min-height: 30vh;
 }

/* .hero:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  } */



  /* About Me styling */
.about {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    
}

.about h2 {
    /* border-right: 2px solid var(--primary-color); */
    color: var(--primary-color);

}



.about p {
  font-size: 2vw;
}




  /* Work styling */
.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;

}

.work h2 {
  /* border-right: 2px solid var(--primary-color); */
  color: var(--primary-color);

}

.work big-child img {
    display: inline-block;
    justify-content: flex-end;
    flex-direction: row;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    width: 150px;
    flex: 0, 2, 200px;
  }



.work child img {
  flex: 0, 4, 50%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 30px;
    justify-content: flex-end;
    flex-direction: row;
  }
  
  /* img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  } */


/* 
.work::firstchild;
*/


/* .contact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background: lightgrey;
    color: black;
    border-right: black;
    position: sticky;
    top: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;  

}

.contact h1 {
    display: inline-block;
    font-weight: bold;
    font-size: 24px;
    color: var(--primary-color);
    margin: 0;
    
  }

  .contact a {
    text-decoration: none;
    color: var(--primary-color);
  }

  .contact nav {
    margin: 7px 0;
    display: flex;
    flex-wrap: 0;
    justify-content: flex-end;
    flex-direction: row;
    list-style: none;
  }

  .contact nav ul {
    display: inline-block;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    overflow:hidden;
  }

  .contact nav li {
      display:inline-block;
  }

  .contact nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
  } */










  /* Contact Me styling */
 footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  background: lightgrey;
  color: var(--primary-color);
  border-right: black;
  top: 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;  
}

footer h2 {
  /* border-right: 2px solid black; */
  display: inline-block;
  /* justify-content: space-around; */
  font-weight: bold;
  font-size: 24px;
  color: var(--primary-color);
  margin: 0;

} 

footer a {
  text-decoration: none;
  color: var(--primary-color);
}

.footer-nav  {
  margin: 7px 0;
  display: flex;
  flex-wrap: 0;
  justify-content: flex-end;
  flex-direction: row;
  list-style: none;
}


/* footer address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background: #d35d3f;
    color: #fff;
    list-style: none;

}
*/



footer ul {
  display: inline-block;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    overflow:hidden;
}

footer li {
  display: inline-block;
  justify-content: space-between;
}

footer ul li a {
  padding: 10px 20px;
  font-weight: lighter;
  font-size: 1.55vw;
  /* text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);  */
}
